:root {
  --primary-color: aliceblue;
  --secondary-color: #c5c9d4;
  --box-shadow: 3px 3px 3px 3px rgb(174, 172, 195);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: var(--primary-color);
  text-align: center;
}

.hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--secondary-color);
  background-size: 100%;
}

h1 {
  font-size: 60px;
  font-family: "Fuzzy Bubbles", cursive;
}

h2 {
  font-size: 50px;
}

h3,
h4 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  margin-top: 100px;
}

img {
  width: 500px;
  height: 500px;
}

.contact-me-link {
  font-size: 20px;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
}

@media (max-width: 1023px) {
  img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
}
