:root {
  --primary-color: #3c4870;
  --secondary-color: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --accent-color: white;
  --box-shadow: 3px 3px 3px 3px rgb(178, 177, 194);
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--primary-color);
  background-color: var(--accent-color);
  text-align: center;
}

.hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background: var(--secondary-color);
  background-size: 150%;
}

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 60px;
  font-family: "Fuzzy Bubbles", cursive;
}

h2 {
  font-size: 50px;
}

h3,
h4 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

p {
  font-size: 20px;
  text-align: justify;
}

img {
  width: 500px;
  height: 500px;
  transition: all 250ms ease-in-out;
}

img:hover {
  scale: 1.1;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #b9c2df;
}

.more-projects {
  font-size: 25px;
}

.contact-me-link {
  font-size: 20px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 5px;
  color: var(--accent-color);
}

.contact-me-link:hover {
  color: rgb(177, 202, 224);
}

.icon {
  font-size: 50px;
  color: var(--primary-color);
}

.project-link-href {
  color: var(--accent-color);
}

.about-me-paragraph {
  text-align: justify;
  line-height: 2;
}

.coding-skills {
  margin-left: 50px;
  text-align: left;
}

.coding-skills-list {
  margin-left: 20px;
}

.project-title {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 5px;
  border-radius: 5px;
  width: 410px;
  box-shadow: var(--box-shadow);
}

footer {
  font-size: 18px;
  margin-bottom: 20px;
}

footer .social-media-links a {
  margin: 0 30px;
}

@media (max-width: 1100px) {
  img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  body {
    width: 270px;
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    width: 279px;
  }

  footer {
    font-size: 10px;
  }

  .about-me-title {
    text-align: center;
  }

  .about-me-paragraph {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 280px;
  }

  .acquired-skills {
    text-align: center;
  }

  .coding-skills {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .coding-skills-list {
    display: block;
    margin: 0 auto;
    text-align: center;
    list-style: none;
  }

  .project-title {
    width: auto;
  }

  .project-alignment {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .more-projects {
    font-size: 10px;
  }
}
